body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* Main Container */
.container {
    width: 1200px;
    height: 1319px;
    left: 40px;
    top: 40px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: auto;
    margin-top: 40px;

}

/*LeftBlock*/
.left {
    flex: 25;
    background-color: rgb(0, 255, 85);
    height: 100%;
    display: flex;
    flex-direction:column;
    align-content: center;
}

/*Right block*/
.right {
    flex: 100;
    background-color: red;
}

/* Photo */
.photo {margin-top: 10px;
    
  
}

.contacts {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100px;
    margin-top: 0;
}